@model IEnumerable<ProductList.Models.Category>

@{
    ViewData["Title"] = "Category List";
}

<h1>Category List</h1>

<a asp-area="" class="btn btn-outline-primary" asp-controller="Products" asp-action="ProductList">View Products</a>
<a asp-area="" class="btn btn-outline-info" asp-controller="Categories" asp-action="Create">Create Category</a>
<br /><br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <button class="btn btn-warning">
                        @Html.ActionLink("Update", "Edit", new {  id=item.CategoryId }) 
                    </button>
                    
                    <button class="btn btn-danger">
                        @Html.ActionLink("Delete", "Delete", new { id=item.CategoryId })
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
